@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Iniciar Sesión</title>
    <link rel="icon" type="image/png" href="~/assets/Imgs/registro.png">


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/fontawesome/css/all.min.css" />

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

    <link href="~/assets/css/Login.css" rel="stylesheet">
</head>
<body>

    <div id="particles-js"></div>

    <section>
        <div class="contenedor">
            <div class="formulario">
                <form id="loginForm" action="@Url.Action("Login","Acceso")" method="post">
                    <h2>Iniciar Sesión</h2>
                    <div class="logo">
                        <img src="~/assets/Imgs/registro.png" alt="Logo">
                    </div>

                    <div class="input-contenedor">
                        <input type="number" id="nomina" name="nomina" autocomplete="off" required>
                        <label for="#">Usuario</label>
                    </div>
                    <div class="input-contenedor">
                        <input type="password" id="password" name="password" autocomplete="off" required>
                        <label for="#">Contraseña</label>
                    </div>
                    @{
                        if (ViewBag.Error != null)
                        {
                            <div class="alert alert-danger mb-3" role="alert">
                                @ViewBag.Error
                            </div>
                        }
                    }
                    <div>
                        <button type="submit">Iniciar Sesión</button>
                    </div>
                </form>
                <div class="text-center mt-3">
                    <a class="small" href="@Url.Action("resetPassword","Acceso")">¿Has olvidado tu contraseña?</a>
                </div>
            </div>
        </div>
    </section>


    <div class="spinner" id="spinner">
        <i class="fas fa-spinner fa-spin"></i>
    </div>

    <script>
        document.getElementById("loginForm").addEventListener("submit", function (event) {
            document.getElementById("spinner").style.display = "block";

            var nomina = document.getElementById("nomina");
            var password = document.getElementById("password");

            // Trim leading and trailing spaces
            nomina.value = nomina.value.trim();
            password.value = password.value.trim();

            // Check if the fields are still not empty after trimming
            if (nomina.value === "" || password.value === "") {
                event.preventDefault(); // Prevent form submission

                toastr.error("Por favor, completa todos los campos.");

                alert("Por favor, completa todos los campos.");
                document.getElementById("spinner").style.display = "none"; // Hide spinner
            }
        });
        //                    "value": "#1a73e8"

        particlesJS("particles-js", {
            "particles": {
                "number": {
                    "value": 500,
                    "density": {
                        "enable": true,
                        "value_area": 900
                    }
                },
                "color": {
                    "value": "#ffffff"
                },
                "shape": {
                    "type": "circle",
                    "stroke": {
                        "width": 0,
                        "color": "#000000"
                    },
                    "polygon": {
                        "nb_sides": 5
                    }
                },
                "opacity": {
                    "value": 0.9,
                    "random": true,
                    "anim": {
                        "enable": true,
                        "speed": 0.5,
                        "opacity_min": 0.3,
                        "sync": false
                    }
                },
                "size": {
                    "value": 3,
                    "random": true,
                    "anim": {
                        "enable": false,
                        "speed": 40,
                        "size_min": 0.1,
                        "sync": false
                    }
                },
                "line_linked": {
                    "enable": true,
                    "distance": 80,
                    "color": "#ffffff",
                    "opacity": 0.8,
                    "width": 1
                },
                "move": {
                    "enable": true,
                    "speed": 3,
                    "direction": "none",
                    "random": false,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {
                        "enable": true,
                        "rotateX": 600,
                        "rotateY": 1200
                    }
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {
                        "enable": true,
                        "mode": "grab"
                    },
                    "onclick": {
                        "enable": true,
                        "mode": "push"
                    },
                    "resize": true
                },
                "modes": {
                    "grab": {
                        "distance": 140,
                        "line_linked": {
                            "opacity": 1
                        }
                    },
                    "bubble": {
                        "distance": 900,
                        "size": 40,
                        "duration": 2,
                        "opacity": 8,
                        "speed": 3
                    },
                    "repulse": {
                        "distance": 100,
                        "duration": 0.4
                    },
                    "push": {
                        "particles_nb": 9
                    },
                    "remove": {
                        "particles_nb": 2
                    }
                }
            },
            "retina_detect": true
        });

    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    @Scripts.Render("~/bundles/complementos")


</body>
</html>
