@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>resetPassword</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <link rel="icon" type="image/png" href="~/assets/Imgs/registro.png">

    <link href="~/assets/css/style_reset_password.css" rel="stylesheet">
</head>
<body>
    <div class="spinner" id="spinner">
        <i class="fas fa-spinner fa-spin"></i>
    </div>
    <div id="particles-js"></div>

    <section>
        <div class="contenedor">
            <div class="formulario">
                <div class="card-header text-center">
                    <h2 class="font-weight-light my-2">Recuperación de Contraseña</h2>
                </div>
                <div class="card-body">
                    <div class="small text-muted" id="message">Ingrese su numero de nomina y le enviaremos su nueva contraseña.</div>
                </div>
                <form id="resetPasswordForm" action="@Url.Action("resetPassword","Acceso")" method="post">
                    <div class="input-contenedor">
                        <input type="number" id="Nomina" name="Nomina" autocomplete="off" required>
                        <label id="labelUser">Nomina</label>
                    </div>
                    @{
                        if (ViewBag.Error != null)
                        {
                            <div class="form-floating mb-3">
                                <div class="alert alert-danger" role="alert">
                                    @ViewBag.Error
                                </div>
                            </div>
                        }
                    }
                    <button id="btn" type="submit">Restablecer Contraseña</button>
                </form>
                <div class="small mt-4">
                    <a class="small" href="@Url.Action("Login","Acceso")">Regresar al Login</a>
                </div>
            </div>
        </div>
    </section>

    <script>
        document.getElementById("resetPasswordForm").addEventListener("submit", function() {
            document.getElementById("spinner").style.display = "block";
        });

        if (@ViewBag.loginResult == 2) {
            document.querySelector('.card-header h2').innerText = 'Actualización de Contraseña';
            document.querySelector('.small').innerText = 'Por políticas de seguridad la contraseña debe de actualizarse cada 3 Meses\nDa clic en Actualizar y le enviaremos su nueva contraseña.';
            document.querySelector('button[id="btn"]').innerText = 'Actualizar Contraseña';
            document.querySelector('input[id="Nomina"]').value = @ViewBag.Nomina;
        }

        particlesJS("particles-js", {
            "particles": {
                "number": {
                    "value": 500,
                    "density": {
                        "enable": true,
                        "value_area": 900
                    }
                },
                "color": {
                    "value": "#C02820"
                },
                "shape": {
                    "type": "circle",
                    "stroke": {
                        "width": 0,
                        "color": "#000000"
                    },
                    "polygon": {
                        "nb_sides": 5
                    }
                },
                "opacity": {
                    "value": 0.9,
                    "random": true,
                    "anim": {
                        "enable": true,
                        "speed": 0.5,
                        "opacity_min": 0.3,
                        "sync": false
                    }
                },
                "size": {
                    "value": 3,
                    "random": true,
                    "anim": {
                        "enable": false,
                        "speed": 40,
                        "size_min": 0.1,
                        "sync": false
                    }
                },
                "line_linked": {
                    "enable": true,
                    "distance": 80,
                    "color": "#C02820",
                    "opacity": 0.8,
                    "width": 1
                },
                "move": {
                    "enable": true,
                    "speed": 3,
                    "direction": "none",
                    "random": false,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {
                        "enable": true,
                        "rotateX": 600,
                        "rotateY": 1200
                    }
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {
                        "enable": true,
                        "mode": "grab"
                    },
                    "onclick": {
                        "enable": true,
                        "mode": "push"
                    },
                    "resize": true
                },
                "modes": {
                    "grab": {
                        "distance": 140,
                        "line_linked": {
                            "opacity": 1
                        }
                    },
                    "bubble": {
                        "distance": 900,
                        "size": 40,
                        "duration": 2,
                        "opacity": 8,
                        "speed": 3
                    },
                    "repulse": {
                        "distance": 100,
                        "duration": 0.4
                    },
                    "push": {
                        "particles_nb": 9
                    },
                    "remove": {
                        "particles_nb": 2
                    }
                }
            },
            "retina_detect": true
        });
    </script>
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/complementos")
</body>
</html>
